header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #internship-title {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
    margin-top: -20px;
  }
}
