table {
  width: 100%;
  tr {
    th {
      color: white;
      padding: 15px 0;
    }
    td {
      padding: 10px 0;
      color: $darkgray;
    }
    th, td {
      border-bottom: 1px solid $darkpurple;
    }
  }
}
