// Abstracts
@import "abstracts/variables";
@import "abstracts/typography";
@import "abstracts/animations";
// Base
@import "base/reset";
// Layouts
@import "layouts/header";
@import "layouts/footer";
// Components
@import "components/tables";
@import "components/titles";
@import "components/editor";
@import "components/card";

body {
  overflow-x: hidden;
  #top-background {
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 100%);
    height: 400px;
    @extend .animated-background;
  }
  #content {
    padding: 50px 0;
    padding-bottom: 0;

    #profile {
      margin-top: 70px;
      font-size: 20px;
      border-left: 2px dashed $darkgray;
    }

    #bottom-container {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 100px 0;
      background-color: #0a2540;
      color: white;
      font-size: 20px !important;
      overflow: visible;

      @media (max-device-width: 1200px) {
        padding-top: 70px;
      }

      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 100%);
        height: 400px;
      }

      #formations {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 50px;
        #timeline {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
          border-top: 5px dotted white;
          width: 100%;
          padding-top: 50px;
          margin-bottom: 50px;

          @media (max-device-width: 1200px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 0;
            .timeline-item {
              position: unset !important;
              width: auto !important;
              margin-bottom: 30px;
              &:before {
                top: -18px !important;
              }
              &:after {
                top: -80px !important;
              }
              &:nth-child(1):before, &:nth-child(1):after {
                left: calc(50% + 100px);
              }
              &:nth-child(3):before, &:nth-child(3):after {
                left: calc(50% - 100px);
              }
            }
          }

          .timeline-item {
            position: relative;
            text-align: center;
            width: 25%;
            &:before {
              content: "";
              width: 32px;
              height: 32px;
              display: block;
              @extend .animated-background;
              border-radius: 50px;
              position: absolute;
              top: -70px;
              left: 50%;
              transform: translateX(-50%);
            }
            &:after {
              content: attr(data-date);
              display: block;
              color: white;
              font-size: 20px;
              position: absolute;
              top: -125px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      #skills {
        #skills-content {
          #hobbies-list {
            display: flex;
            flex-direction: column;

            .hobby {
              display: flex;
              flex-direction: column;
              margin-bottom: 20px;
              .hobby-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                  width: 40px;
                  height: 40px;
                  margin-right: 10px;
                }
              }
              .hobby-description {
                margin-left: 50px;
                font-size: 16px;
                color: $darkgray;
              }
            }
          }
          #fake-invoice {
            padding: 40px;
            border-radius: 20px;
            font-size: 18px !important;
            background-color: #0c2e4e;
            border: 1px solid $darkpurple;
            box-shadow: rgba(26, 26, 67, 0.05) 1px 1px 5px 0px, rgba(50, 50, 93, 0.5) 39px 62.5px 125px -25px, rgba(0, 0, 0, 0.6) 23.4px 37.5px 75px -37.5px;

            @media (min-device-width: 1200px) {
              margin-top: -114px;
            }
            #invoice-title {
              text-align: center;
              font-weight: bold;
            }
            #invoice-subtitle {
              color: $darkgray;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

